
services:
  nginx:
    image: nginx-for-connection-test
    container_name: nginx-for-connection-test
    ports:
    - "80:80"
    networks:
      - backend
    sysctls:
      net.core.somaxconn: 30000
      net.ipv4.tcp_max_syn_backlog: 30000
  loader:
    image: loader-for-connection-test
    container_name: loader-for-connection-test
    depends_on:
      - nginx
    networks:
      - backend
    init: true

networks:
  backend:
    driver: "bridge"
